    <favourite 
    [is-favourite]="post.isFavourite"
    (change)="onFavouriteChanged($event)"
    ></favourite>
<hr>

<courses></courses>
<hr>


<title-case></title-case>
<hr>



<like
    [likesCount]= "tweet.likesCount"
    [isActive]= "tweet.isLiked"
></like>
<hr>



<div *ngIf="courses.length > 0; then coursesList else noCourses">List of courses:</div>
<ng-template #coursesList> List of courses</ng-template>
<ng-template #noCourses>No courses yet.</ng-template>
<hr>



<ul class="nav nav-pills">
    <li [class.active]="viewMode=='map'"><a (click)="viewMode='map'">Map View</a></li>
    <li [class.active]="viewMode=='list'"><a (click)="viewMode='list'">List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>otherwise</div>
</div>
<hr>

<button (click)="loadCourses()">Load courses</button>

<ul>
    <li *ngFor="let course of courses; trackBy: trackCourse">
    {{course}}
    </li>
</ul>
<hr>


<input type="text" appInputFormat="'uppercase'">
<hr>



<zippy title="Shipping Details">
    Shipping Details Content
</zippy>
<zippy title="Billing Details">
    Billing Details Content
</zippy>
<hr>

<H2>Template forms</H2>
<contact-form></contact-form>
<hr>

<course-form></course-form>
<hr>

<signup-form></signup-form>
<hr>

<new-course-form></new-course-form>
<hr>
<change-password></change-password>